:root {
	--bg-main-color: #00000080;

	--bg-accent-color: #2d2d2d;

	--accent-color: #f64435;

	--text-accent-color: #ffe498;

	--text-edit-bg-color: #575757;

	--border-color: #3f3f3f;

	--shadow-color: #202020;

	--document-bg-color: #68686850;

	--component-bg-gradient: radial-gradient(
		circle,
		#646464e6 0%,
		#363636e6 100%
	);

	--smokywhite: #dddbd8;

	--black: #000000;

	--translucent-black: #00000099;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background: rgb(22, 22, 22);
	background: linear-gradient(
		90deg,
		rgba(22, 22, 22, 1) 0%,
		rgba(50, 50, 50, 0.7636887608069164) 100%
	);
	width: 100vw;
	height: 100vh;
	margin: 0;
}

header {
	background-color: black;
	height: 13vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1vh;
}

main {
	height: 83vh;
	overflow-y: auto;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	padding: 10px 0;
}

header > div:nth-child(1) {
	color: var(--accent-color);
	text-align: center;
	font-size: 2.5em;
	font-weight: 900;
}

.header__menus__wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.header__menus {
	background-color: var(--accent-color);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}

.section__media {
	display: grid;
	height: 250px;
	margin-bottom: 20px;
	border: 1px solid var(--border-color);
	box-shadow: 5px 5px 5px 5px var(--shadow-color);
	grid-template-columns: 55% 45%;
	position: relative;
	margin: 20px 20px;
}

.section__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 250px;
	margin-bottom: 20px;
	border: 1px solid var(--border-color);
	box-shadow: 5px 5px 5px 5px var(--shadow-color);
	position: relative;
	margin: 20px 20px;
}

.section__body {
	padding: 20px;
	color: white;
}

.section__left {
	height: inherit;
}

.section__title {
	padding: 20px;
	color: var(--text-accent-color);
}

img {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

.section__close__btn {
	color: var(--accent-color);
	font-size: 1.5em;
	position: absolute;
	right: 10px;
	top: 125px;
	cursor: pointer;
}

.section__close__btn:hover {
	color: black;
}

.modal__outer {
	display: flex;
	z-index: 10;
	background: rgba(0, 0, 0, 70%);
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal {
	background: rgb(94, 94, 94);
	background: linear-gradient(
		90deg,
		rgb(48, 48, 48) 10%,
		rgb(100, 100, 100) 40%,
		rgb(100, 100, 100) 60%,
		rgb(48, 48, 48) 90%
	);
	width: 80vw;
	height: fit-content;
}

.modal__header {
	display: flex;
	justify-content: flex-end;
}

.modal__close__btn {
	color: var(--accent-color);
	padding: 10px;
	cursor: pointer;
}

.modal__close__btn:hover {
	color: black;
}

.modal__wrap {
	padding: 10px;
}

.modal__title {
	color: var(--text-accent-color);
}

.modal__title_input {
	width: 100%;
	background-color: var(--text-edit-bg-color);
	outline: none;
	font-size: 1.3em;
	color: white;
}

.modal__content_input {
	width: 100%;
	background-color: var(--text-edit-bg-color);
	outline: none;
	font-size: 1.3em;
	color: white;
}

.modal__footer {
	display: flex;
	justify-content: flex-end;
}

.modal__submit_btn {
	background-color: var(--accent-color);
	color: white;
	padding: 5px 15px;
	margin: 10px;
	cursor: pointer;
}
